
<div class="jumbotron">
	<h1>Welcome to my app</h1>
	<p>Click here to <%= link_to "sign up", "http://google.com", class: "btn btn-primary" %></p> 
</div>
<%-# traditional html way of hyperlink <a href="#"></a> -%>

